/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98
*/

.userProfileContainer {
  width: 45rem;
  height: 65rem;
  display: grid;
  grid-template-rows: 45% 1fr;
  border: 3px solid #222;
}

.profileImage {
  height: 100%;
  width: 100%;
}

.infosContainer {
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.userName {
  font-family: "Roboto Mono", sans-serif;
  font-size: 3.2rem;
}

.listItem {
  display: inline-block;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 500;
  margin: 0.3rem;
  padding: 0.3rem 0.9rem;
  border-radius: 4px;
}
